server:
  port: 8080
spring:
  application:
    name: "Restaurant"
  devtools:
    add-properties: false
  h2:
    console:
      enabled: true
      path: "/h2"
      settings:
        trace: true
  profiles:
    include: prod
  datasource:
    url: "jdbc:h2:mem:test"
    username: "sa"
    password: "pass"
    driverClassName: "org.h2.Driver"
  jpa:
    databasePlatform: "org.hibernate.dialect.H2Dialect"
security:
  secretKey: "${SECRET_KEY:mySecretKey}"
  tokenExpirationTimeMillis: "${TOKEN_EXPIRATION_TIME_MILLIS:1200000}"
  jwtId: "${JWT_ID:restaurantJWT}"
adapter:
  restconsumer:
    timeout: "${RANDOM_NUMBER_TIMEOUT:5000}"
    url: "${RANDOM_NUMBER_URL:http://www.randomnumberapi.com/api/v1.0/random}"
